---
layout: base
---
<img src="/assets/images/splash.jpg" style="width: 100%" alt="Photo illustration: a parade of demonstrators carry candidate signs on a city street: 'Cory 2020', 'Julian 2020', 'Kamala Harris for the People', 'Feel the Bern'. In the center, one person carries a large sign with hand-drawn letters in marker: 'Whoever it is, vote for the Democrat in November.'">
<div id="main-wrapper" style="padding-top: 1em">
  <div class="container">
    <div class="row gtr-100">
      <div class="col-12 col-12-medium">
        <div id="content">
          <article>
          <h2>{{ page.title }}</h2>
          {{ content }}
          </article>
        </div>
      </div>
      <div class="col-6 col-12-medium">
        <a href="/president/" class="button large" style="width: 100%; text-align: center">Show Me The Candidates</a>
      </div>
      <div class="col-6 col-12-medium">
        <a href="/stickers/" class="button large alt" style="width: 100%; text-align: center">I Want Some Stickers</a>
      </div>
    </div>
  </div>
</div>
